body {
    background-color: #fff;
    margin: 15px;
    color: #fff;
}

.ba-banner {
    height: 100vh;
  
}

.ba-hero {
    height: calc(100vh - 80px);
    background-image: url(../img/Image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    color: #fff;

    &-wrapper {
        height: 100%;
        text-align: center;
        padding-top: 260px;
    }

    &__title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 3rem;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 0.026em;
        letter-spacing: 0.1em;
    }

    &__desc {
        padding-top: 15px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.375rem;
        font-weight: 300;
        line-height: 0.026em;
        letter-spacing: 0.3em;
    }

    &-search {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        padding-top: 55px;
        margin: 0 auto;
        
        &__input {
            max-width: 500px;
            height: 62px;
            border-color: #fff;
            border-right: none;
            outline: none;
            padding: 0;
            flex-grow: 1;
            font-size: 0.875rem;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 300;
            text-align: center;
            line-height: 0.026em;
            letter-spacing: 0.1em;
            border: 3px solid #fff;
        }
        &__btn {
            max-width: 150px;
            padding: 0 15px;
            border: 3px solid #fff;
            background-color: #5474fd;
            color: #fff;
            outline: none;
            text-transform: uppercase;
            
            &-img {
                bottom: 22px;
                left: 30px;
                font-family: 'Aleo', serif;
                font-weight: 400;
                font-size: 0.875;
                text-transform: uppercase;
                max-width: 100%;
                vertical-align: middle;
            }
        }
    }

    &-scroll-down {
        padding-top: 180px;

        &__link {
            text-decoration: none;
            color: #fff;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 0.875rem;
            font-weight: 300;
            line-height: 0.026em;
            letter-spacing: 0.2em;
            display: block;
            padding-bottom: 5px;
        }
    }
}

.ba-header {
    background-color: #5474fd;
    height: 80px;

    &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-decoration: none;
        padding-top: 26px;

        .ba-logo {
            text-decoration: none;
            color: #fff;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 1.5rem;
            font-weight: 600;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
    }

    

    .ba-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        list-style: none;
        

        &__item {
            padding-left: 43px;
        }
        &__link {
            color: #fff;
            text-decoration: none;
            font-family: 'Aleo', serif;
            text-transform: uppercase;
            font-size: 0.875rem;
        }
    }
}

.ba-section {
    background-image: url(../img/bgi2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &-choose {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            max-width: 541px;
            padding-top: 205px;
            color: #fff;

            
            

            .ba-section-choose__btn {
                width: 225px;
                height: 60px;
                border: none;      
                background-color: #5474fd;
                color: #fff;
                outline: none;
                text-transform: uppercase;

                &:hover {
                    opacity: 0.75;
                }
            }
        }

        &-picture {
            max-width: 541px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 120px 0;

            &__img1 {
                max-width: 100%;
                margin-right: 125px;
                margin-bottom: 5px;
                object-fit: cover;
            }
            &__img2 {
                max-width: 100%;
                margin-left: 191px;
                object-fit: cover;
            }
        }
    }
}

.ba-home {
    background-image: url(../img/bgi3.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &-wrapper {
        padding: 230px 0 102px;
        text-align: left;

        .ba-home-choose {
            width: 540px;
            height: 372px;
            background-color: rgba(8, 8, 8, 0.9);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 50px 30px;

            &__btn {
                width: 225px;
                height: 60px;
                border: none;      
                background-color: #5474fd;
                color: #fff;
                outline: none;
                text-transform: uppercase;

                &:hover {
                    opacity: 0.75;
                }
            }
        }
    }
}

.ba-mountains {
    @extend .ba-home;
    background-image: url(../img/bgi4.jpg);
    text-align: right;

    &-wrapper {
        @extend .ba-home-wrapper;
        display: flex;
        justify-content: flex-end;
        

        .ba-mountains-choose {
            @extend  .ba-home-choose;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 50px 30px;

            &__btn {
                @extend .ba-home-choose__btn;
            }
        }
    }

}








