* {
  box-sizing: border-box; }

.conteiner {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

/* Ba-grid */
.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  margin-top: 1rem; }

[class^="ba-col"] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.m {
  margin-bottom: 15px; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

/* Ba-common */
.ba-text-center {
  text-align: center; }

.ba-text-right {
  text-align: right; }

.ba-text-left {
  text-align: left; }

.ba-text-justify {
  text-align: justify; }

body {
  background-color: #fff;
  margin: 15px;
  color: #fff; }

.ba-banner {
  height: 100vh; }

.ba-hero {
  height: calc(100vh - 80px);
  background-image: url(../img/Image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  color: #fff; }
  .ba-hero-wrapper {
    height: 100%;
    text-align: center;
    padding-top: 260px; }
  .ba-hero__title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 0.026em;
    letter-spacing: 0.1em; }
  .ba-hero__desc {
    padding-top: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 0.026em;
    letter-spacing: 0.3em; }
  .ba-hero-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: 55px;
    margin: 0 auto; }
    .ba-hero-search__input {
      max-width: 500px;
      height: 62px;
      border-color: #fff;
      border-right: none;
      outline: none;
      padding: 0;
      flex-grow: 1;
      font-size: 0.875rem;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;
      text-align: center;
      line-height: 0.026em;
      letter-spacing: 0.1em;
      border: 3px solid #fff; }
    .ba-hero-search__btn {
      max-width: 150px;
      padding: 0 15px;
      border: 3px solid #fff;
      background-color: #5474fd;
      color: #fff;
      outline: none;
      text-transform: uppercase; }
      .ba-hero-search__btn-img {
        bottom: 22px;
        left: 30px;
        font-family: 'Aleo', serif;
        font-weight: 400;
        font-size: 0.875;
        text-transform: uppercase;
        max-width: 100%;
        vertical-align: middle; }
  .ba-hero-scroll-down {
    padding-top: 180px; }
    .ba-hero-scroll-down__link {
      text-decoration: none;
      color: #fff;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 0.875rem;
      font-weight: 300;
      line-height: 0.026em;
      letter-spacing: 0.2em;
      display: block;
      padding-bottom: 5px; }

.ba-header {
  background-color: #5474fd;
  height: 80px; }
  .ba-header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    padding-top: 26px; }
    .ba-header-wrapper .ba-logo {
      text-decoration: none;
      color: #fff;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.1em;
      text-transform: uppercase; }
  .ba-header .ba-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    list-style: none; }
    .ba-header .ba-menu__item {
      padding-left: 43px; }
    .ba-header .ba-menu__link {
      color: #fff;
      text-decoration: none;
      font-family: 'Aleo', serif;
      text-transform: uppercase;
      font-size: 0.875rem; }

.ba-section {
  background-image: url(../img/bgi2.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .ba-section-choose {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .ba-section-choose-text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 541px;
      padding-top: 205px;
      color: #fff; }
      .ba-section-choose-text .ba-section-choose__btn {
        width: 225px;
        height: 60px;
        border: none;
        background-color: #5474fd;
        color: #fff;
        outline: none;
        text-transform: uppercase; }
        .ba-section-choose-text .ba-section-choose__btn:hover {
          opacity: 0.75; }
    .ba-section-choose-picture {
      max-width: 541px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 120px 0; }
      .ba-section-choose-picture__img1 {
        max-width: 100%;
        margin-right: 125px;
        margin-bottom: 5px;
        object-fit: cover; }
      .ba-section-choose-picture__img2 {
        max-width: 100%;
        margin-left: 191px;
        object-fit: cover; }

.ba-home, .ba-mountains {
  background-image: url(../img/bgi3.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .ba-home-wrapper, .ba-mountains-wrapper {
    padding: 230px 0 102px;
    text-align: left; }
    .ba-home-wrapper .ba-home-choose, .ba-mountains-wrapper .ba-home-choose, .ba-mountains-wrapper .ba-mountains-choose {
      width: 540px;
      height: 372px;
      background-color: rgba(8, 8, 8, 0.9);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 50px 30px; }
      .ba-home-wrapper .ba-home-choose__btn, .ba-mountains-wrapper .ba-home-choose__btn, .ba-mountains-wrapper .ba-mountains-choose__btn {
        width: 225px;
        height: 60px;
        border: none;
        background-color: #5474fd;
        color: #fff;
        outline: none;
        text-transform: uppercase; }
        .ba-home-wrapper .ba-home-choose__btn:hover, .ba-mountains-wrapper .ba-home-choose__btn:hover, .ba-mountains-wrapper .ba-mountains-choose__btn:hover {
          opacity: 0.75; }

.ba-mountains {
  background-image: url(../img/bgi4.jpg);
  text-align: right; }
  .ba-mountains-wrapper {
    display: flex;
    justify-content: flex-end; }
    .ba-mountains-wrapper .ba-mountains-choose {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 50px 30px; }
